
h1{
  text-align: center;
background-color: brown;

  colour: purple;
}s


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="CSS\style.css">
  </head>
  <body>

  <h1>yorkshire terrier</h1>
  <p> Originally bred to catch rats in mills, Yorkshire Terriers have a hunting instinct and are bold, fearless characters. They make great companions for those living alone and good pets for families with older children, as long as kids are taught how to interact with them correctly. They are energetic and enjoy time spent off the lead and playing games.</p>

<p> vital stats</p>
